<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{patientvisit.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{patientvisit.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/patientvisits}" class="btn btn-secondary">[[#{patientvisit.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('patientvisit')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='patientvisit', field='visitid', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='patientvisit', field='vistidate', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='patientvisit', field='diagnosis', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='patientvisit', field='patient', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='patientvisit', field='doctor', type='select')}" />
                <input type="submit" th:value="#{patientvisit.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
