<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
    <form th:action="@{/change_password}"  method="post">
        <div>
            <label for="userpassword">New Password:</label>
            <input type="password" id="userpassword" name="userpassword" required />
        </div>
        <div>
            <label for="userpassword2">Confirm New Password:</label>
            <input type="password" id="userpassword2" name="userpassword2" required />
        </div>
        <div>
            <button type="submit">Change Password</button>
        </div>
    </form>
</body>
</html>